doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../styles/style.styl")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans+Condensed&family=Goldman&family=Josefin+Sans&family=Kanit&family=Nova+Flat&family=Podkova&family=Righteous&display=swap")
    title Axel L&A Construction - Photo Gallery
  body

    main

      block photo_gallery

    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src="../js/init.js")